:root{
  --font-size-article-main-header-title: var(--fs-20);
  --font-size-article-main-header-text: var(--fs-13);
  --font-size-article-main-footer-author-nameDate-name: var(--fs-13);
  --font-size-article-main-footer-author-nameDate-date: var(--fs-13);
  --font-size-popup-text: var(--fs-13);

  --font-weight-article-main-header-title: var(--fw-bold);
  --font-weight-article-main-header-text: var(--fw-medium);
  --font-weight-article-main-footer-author-nameDate-name: var(--fw-bold);
  --font-weight-article-main-footer-author-nameDate-date: var(--fw-medium);
  --font-weight-popup-text: var(--fw-medium);
}