@use '../utils/functions' as *;

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font), Arial, Helvetica, sans-serif;
  background-color: var(--color-main-bg);
}

a {
  text-decoration: none;
}

header ul, footer ul {
  list-style-type: none;
  padding: 0;
}

img,
video,
iframe,
picture {
  display: block;
  //height: auto;
  //max-inline-size: 100%;
  //block-size: auto;

}

input, button, textarea, select {
  display: block;
  font: inherit;//take the font from the body, not the default one
  border: none;
  padding: 0;
  background: none;
}

button {
  cursor: pointer;
}